body{
  background-color: #333;
  color: #bbb;
  font-family: Helvetica;
  text-align: center;
}

.elapsed-time{
  font-weight: bold;
  font-size: 16vw;
}

.hours::after, .minutes::after{
  content: ':';
  padding-left: 25px;
}

button{
  font-size: 100px;
}

.start{
  background-color: green;
}
